<div class="container buddy-list">
  <div class="mdl-grid pb-big-space">
    <div class="mdl-cell mdl-cell--4-col">&nbsp;</div>
    <div class="mdl-cell mdl-cell--16-col">
      <h3>Buddies</h3>
      <buddy-accordion [sections]="accordionSections"></buddy-accordion>
    </div>
    <div class="mdl-cell mdl-cell--4-col">&nbsp;</div>

    <!-- TODO: remove style tag -->
    <button (click)="showAddBuddyDialog()" class="mdl-button bdl-jsbutton mdl-button--fab mdl-button--colored">
      <i class="material-icons">person_add</i>
    </button>

  </div>
