.full-screen-loader {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.8);

    display: flex;
    visibility: visible;
    justify-content: center;
    align-items: center;
}
