<div class="container">
  <div class="mdl-grid" *ngIf="showProfileCreation">
    <div class="mdl-cell mdl-cell--4-col">&nbsp;</div>
    <div class="mdl-cell mdl-cell--16-col">
      <profile-creation></profile-creation>
    </div>
    <div class="mdl-cell mdl-cell--4-col">&nbsp;</div>
  </div>

  <div class="mdl-grid" *ngIf="showLogin">
    <div class="mdl-cell mdl-cell--4-col">&nbsp;</div>
    <div class="mdl-cell mdl-cell--16-col">
      <profile-login></profile-login>
    </div>
    <div class="mdl-cell mdl-cell--4-col">&nbsp;</div>
  </div>

  <div class="mdl-grid" *ngIf="!showLogin">
    <div class="mdl-cell mdl-cell--4-col">&nbsp;</div>
    <div class="mdl-cell mdl-cell--16-col">
      <dropbox-login></dropbox-login>
    </div>
    <div class="mdl-cell mdl-cell--4-col">&nbsp;</div>
  </div>
</div>
