.pb-list-row {
  padding: 15px 0;
}

#show-buddies-dialog {

  h5 {
    font-size: 15px !important;
    font-weight: bold !important;
  }

  .pb-list {
    max-height: 350px;
    overflow-y: scroll;
  }
}
