<div id="show-buddies-dialog" class="pb-dialog">
  <h5 class="mdl-dialog__title">{{title}}</h5>

  <div class="mdl-dialog__content">
    <div class="pb-list">
      <div *ngFor="let row of data" class="pb-list-row">
        {{row}}
      </div>
    </div>
  </div>

  <div class="mdl-dialog__actions">
    <button mdl-button (click)="onEsc()" mdl-ripple>Schließen</button>
  </div>

</div>
