.drag-drop-field-container {
  width: 100%;

  .drag-drop-field {
    width: 100%;
    min-height: 170px;
    max-height: 350px;
    border: 1px dashed #424242;
    background-image: url(assets/img/ic_image_black_48px.svg);
    background-size: 90px;
    background-position: center;
    background-repeat: no-repeat;

    &:hover {
      cursor: pointer;
      border: 1px dashed rgb(255,64,129);
    }

    .overflow-container {
      height: 350px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
