<div class="drag-drop-field-container">
  <div class="drag-drop-field" (click)="fieldClicked()" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
    <div *ngIf="!!fileIn" class="overflow-container">
      <img src="{{fileIn}}" />
    </div>
  </div>
</div>
