.pb-card-upload {

  .mdl-card__supporting-text {
    padding-bottom: 0;
    padding-top: 0;
  }

  .mdl-textfield {
    width: 100%;
  }

  .upload-thoughts-container {
    padding: 0 16px;
  }
}

.mdl-button--file {
  input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
  }
}

.mdl-textfield--file {
  .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 40px);
    margin-left: 3%;
    margin-right: 3%;

  }
  .mdl-button--file {
    right: 0;
  }
}
