
<div class="mdl-card mdl-shadow--2dp pb-tiny-space pb-card-upload">

  <drag-drop-field *ngIf="!(!!statusUpdate || statusUpdate.trim().length > 0)" (fieldClick)="dragDropFieldClicked()" [fileIn]="srcData" (filesOut)="dragDropFileDropped($event)"></drag-drop-field>

  <div class="upload-thoughts-container" *ngIf="!(!!srcData || srcData.trim().length > 0)">
    <mdl-textfield type="text" label="Was denkst du gerade?" [(ngModel)]="statusUpdate" floating-label></mdl-textfield>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--file hidden">

    <input class="mdl-textfield__input" placeholder="File" type="text" #uploadFile readonly/>

    <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
      <i class="material-icons">attach_file</i>
      <input #inputFileToLoad   type="file"  (change)="changeListener($event);" />
    </div>

  </div>

  <div class="mdl-card__actions mdl-card--border mdl-color--primary">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color--white mdl-color-text--black" (click)="uploadPost()">
      Veröffentlichen
    </a>
  </div>
</div>

<full-screen-loader [isVisible]="isLoading"></full-screen-loader>


