<div class="container buddy-list">
  <div class="mdl-grid pb-big-space">

    <div class="mdl-cell mdl-cell--4-col">&nbsp;</div>


    <div class="mdl-cell mdl-cell--16-col">


        <h3>Timeline</h3>

      <!--
        <h4>Neuen Beitrag veröffentlichen</h4>
        <app-upload></app-upload>
      -->

      <app-wall [posts]="posts" [showCreator]="true"></app-wall>
    </div>

    <div class="mdl-cell mdl-cell--4-col">&nbsp;</div>



  </div>
</div>
