.pb-dialog{
  .mdl-dialog__title, .mdl-dialog__content,
    .mdl-dialog__actions {
    //margin: 0;
    //padding: 0;
  }

  .mdl-dialog__title {
    font-size: 15px;
    font-weight: bold;
  }

  .mdl-dialog__content {
    margin-top: 15px;
  }

  .error {
    padding-bottom: 15px;
  }
}
