<form [formGroup]="form" id="add-buddy-dialog" class="pb-dialog">
  <h5 class="mdl-dialog__title">Gib die URL des Freundes ein</h5>

  <div class="mdl-dialog__content">
      <mdl-textfield type="text" label="Public Link des Freundes" formControlName="UserID" [(ngModel)]="buddyIDToAdd" floating-label></mdl-textfield>
  </div>

  <div class="pb-dialog__error" *ngIf="showError">
    {{errorMessage}}
  </div>

  <div class="mdl-dialog__actions">
    <button mdl-button (click)="addBuddy()" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Hinzufügen</button>
    <button mdl-button (click)="onEsc()" mdl-ripple>Abbrechen</button>
  </div>
</form>

