<div class="container">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
      <app-user-image [user]="user"></app-user-image>
    </div>
    <div class="mdl-cell mdl-cell--18-col">
      <div class="buddy-page-name">
        <h2 *ngIf="!!user">{{user.name}}</h2>
        <div *ngIf="isOwnPage && !!user">
            <p>
              {{user.id}}<br/>
              <span (click)="openQRCode()" class="pb-hoverable">QR-Code anzeigen</span>
            </p>
        </div>
      </div>
    </div>
  </div>

  <div class="mdl-grid pb-big-space" *ngIf="isOwnPage">
    <div class="mdl-cell mdl-cell--4-col">&nbsp;</div>
    <div class="mdl-cell mdl-cell--16-col">
      <h4>Neuen Beitrag veröffentlichen</h4>
      <app-upload></app-upload>
    </div>
    <div class="mdl-cell mdl-cell--4-col">&nbsp;</div>
  </div>

  <div class="mdl-grid pb-big-space" *ngIf="posts">
    <div class="mdl-cell mdl-cell--4-col">&nbsp;</div>
    <div class="mdl-cell mdl-cell--16-col">
      <h4>Beiträge</h4>
      <!--
        Never show the creator on a user page, because we know on what page we are.
      -->
      <app-wall [posts]="posts" [showCreator]="false"></app-wall>
    </div>
    <div class="mdl-cell mdl-cell--4-col">&nbsp;</div>
  </div>
</div>
<fullscreen-qr *ngIf="isOwnPage && !!user" [active]="showQRCode" [qrData]="user.id" (clicked)="closeQRCode()"></fullscreen-qr>
