<div class="mdl-card mdl-shadow--2dp pb-tiny-space post">

  <div   class="mdl-card__title">

    <div *ngIf="showCreator" >
      <app-user-image class="buddy-list-image" [user]="creator" [isInList]="true"></app-user-image>
    </div>

    <h3 *ngIf="showCreator && creator" (click)="onPageSelect()" class="mdl-card__title-text profil_name">{{ creator.name }} </h3>
    <h3 *ngIf="!creator" class="mdl-card__title-text profil_name">Ich </h3>
  </div>


  <div *ngIf="isImage" class="overflow-container">
    <img src="{{postIn.message}}" />
  </div>

  <!-- Img -->
  <!--<div *ngIf="isImage" class="mdl-card__media">-->
    <!--<img class="post_style" src="{{postIn.message}}" />-->
  <!--</div>-->

  <!--Txt-->
  <div *ngIf="isText" class="mdl-card__supporting-text">
     {{ postIn.message }}
  </div>

  <div class="mdl-card__date mdl-card__supporting-text">
    {{formatDate(postIn.createdAt)}}
  </div>

  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-js-ripple-effect">
      <i *ngIf="showOptions" class="material-icons" (click)="postOptions()">settings</i>
    </button>
  </div>

</div>
