

.mdl-card__date {
  text-align: right;
  font-size: 0.8rem;
}

.post_style{
  width: 540px; /* you can use % */
  height: auto;
}

.profil_name{
  cursor: pointer;
  color: rgb(63,81,181);
  text-align: center;

}

.post {
  .overflow-container {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}
