#add-chat-dialog {

  h5 {
    font-size: 15px !important;
    font-weight: bold !important;
  }

  .pb-add-chat-buddies {
    max-height: 300px;
    overflow-y: scroll;
  }

  .pb-add-chat-message {
    padding: 40px 0;
    text-align: center;
    font-size: 15px;
  }

  .pb-add-chat-moderated {
    margin-bottom: 10px;
  }
}
