<div id="add-chat-dialog" class="pb-dialog">
  <h5 class="mdl-dialog__title">{{title}}</h5>


  <div class="mdl-dialog__content">
    <mdl-textfield type="text" label="Wie soll der Chat heißen?" [(ngModel)]="chatName" floating-label *ngIf="!addBuddiesToExistingChat"></mdl-textfield>
    <mdl-switch [(ngModel)]="moderated" mdl-ripple class="pb-add-chat-moderated" *ngIf="!addBuddiesToExistingChat">
      <span *ngIf="moderated">Moderiert</span>
      <span *ngIf="!moderated">Nicht moderiert</span>
    </mdl-switch>

    <div class="pb-add-chat-buddies" *ngIf="!isCreating">
      <selectable-list-item *ngFor="let buddy of buddies; let i = index;"
                            [value]="buddy.name" [key]="buddy"
                            (selected)="onBuddySelected($event)">

      </selectable-list-item>
    </div>

    <div class="pb-add-chat-message" *ngIf="isCreating">
      <span *ngIf="this.addBuddiesToExistingChat">
        Chat wird aktualisiert
      </span>
      <span *ngIf="!this.addBuddiesToExistingChat">
        Chat wird erstellt
      </span>
    </div>
  </div>

  <div class="pb-dialog__error" *ngIf="showError">
    {{errorMessage}}
  </div>

  <div class="mdl-dialog__actions">
    <button mdl-button (click)="createChat()" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
      <span *ngIf="this.addBuddiesToExistingChat">
        Hinzufügen
      </span>
      <span *ngIf="!this.addBuddiesToExistingChat">
      Erstellen
      </span>
    </button>
    <button mdl-button (click)="onEsc()" mdl-ripple>Abbrechen</button>
  </div>

</div>
