.pb-fullscreen-qr-container {
  display: none;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  z-index: 99;
  cursor: pointer;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);

  .pb-center-container {

  }

  &.active {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    visibility: visible;
  }
}
