<div class="pb-fullscreen-qr-container" [ngClass]="{'active': active}" (click)="closeQRCode()">
  <div class="pb-center-container">
    <qr-code [data]="qrData" [type]="8" *ngIf="!!qrData" [size]="256" (click)="closeQRCode()"></qr-code>
  </div>
</div>
