
$grid-desktop-columns: 24;
$grid-desktop-gutter: 8px;
$grid-desktop-margin: 8px;

$grid-tablet-columns: 16;
$grid-tablet-breakpoint: 480px !default;

$grid-phone-columns: 8;

$grid-tablet-columns: 16 !default;
$grid-phone-columns: 8 !default;

/* card changes */
$card-width: 100%;
$card-height: unset;

$card-supporting-text-font-size: 1.2rem;

@import "~material-design-lite/src/color-definitions";

$color-primary: $palette-blue-500;
$color-primary-dark: $palette-blue-700;

$color-accent: $palette-deep-orange-A200;
