/* You can add global styles to this file, and also import other style files */

/* The material design icons */
@import "~material-design-icons/iconfont/material-icons.css";


/* Override some default variables from the mdl library */
@import "styles/material/variables";

/* The actual material design */
@import "~material-design-lite/src/material-design-lite.scss";

/* cropperjs */
@import "~cropperjs/dist/cropper.min.css";


/* jquery emoji picker (with the apple emojis) */
@import "~jquery-emoji-picker/css/jquery.emojipicker.css";
@import "~jquery-emoji-picker/css/jquery.emojipicker.a.css";

$pb-container-width: 800px;
$pb-container-top: 80px;

$pb-big-space-margin: 80px;
$pb-tiny-space-margin: 8px;

body {
  @extend .mdl-color--grey-100;
}

body, html {
  font-family: "Roboto", sans-serif;
}

p {
  line-height: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 8px;
}

.container {
  width: $pb-container-width;
  max-width: 100%;
  margin: $pb-container-top auto 0 auto;
}

.overflow-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.hidden {
  display: none;
  visibility: hidden;
}

.pb-big-space {
  margin-top: $pb-big-space-margin;
}

.pb-tiny-space {
  margin-top: $pb-tiny-space-margin;
}

.pb-right {
  float: right;
}

.pb-no-padding-top {
  padding-top: 0;
}

.pb-no-padding-bottom {
  padding-bottom: 0;
}

.pb-hoverable {
  cursor: pointer;
  color: rgb(255,110,64);

  &:hover {
    color: #FF5252;
  }
}

.pb-pointer {
  cursor: pointer;
}

.mdl-dialog {
  padding: 0;
}

.mdl-card__supporting-text {
  width: 100%;
}

.mdl-card__supporting-text {
  padding-right: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;;
}

.mdl-card__actions {
  text-align: right;
}

// for some reasons, without this, the layout has margin at the top
// and it wont be click through
.mdl-layout__container {
  top: 0;
  pointer-events: none;
}

.pb-dialog__error {
  font-size: 12px;
  color: rgb(213, 0, 0);
  line-height: 15px;
  padding: 0 24px 24px 24px;
}

.pb-emoji {
  display: inline-block;
  width: 24px;
  height: 24px;
  top: 4px;
  position: relative;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.clearfix {
  clear: both;
}
