<div *ngIf="authService.isLoggedIn()"
     class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header" id="header-main">
    <div class="container">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--24-col">
          <div class="mdl-layout__header-row">
            <a class="mdl-layout-title mdl-color-text--grey-800" [ngClass]="{'center': !showFullHeader}" routerLink="/home">PostBox</a>
            <div class="mdl-layout-spacer" *ngIf="showFullHeader"></div>
            <nav class="mdl-navigation" *ngIf="showFullHeader">
              <a routerLink="/chat" class="mdl-navigation__link mdl-color-text--black">
                <i *ngIf="channelRepository.newMessages && this.router.url.indexOf('chat') === -1" class="material-icons mdl-badge" data-badge="!">chat</i>
                <i *ngIf="!channelRepository.newMessages || this.router.url.indexOf('chat') !== -1" class="material-icons">chat</i>
             </a>
              <a (click)="navigateProfile()" class="mdl-navigation__link mdl-color-text--black"><i class="material-icons">person</i></a>
              <a routerLink="/buddyList" class="mdl-navigation__link mdl-color-text--black"><i class="material-icons">people</i></a>
             <!--  <a routerLink="/options" class="mdl-navigation__link mdl-color-text--black"><i class="material-icons">settings</i></a> -->
              <a (click)="logout()" class="mdl-navigation__link mdl-color-text--black"><i class="material-icons">exit_to_app</i></a>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="mdl-layout__drawer"></div>
</div>
