#header-main {
  background-color: white;

  .container {
    margin-top: 0;
  }

  .mdl-layout__header-row {
    padding: 0;
  }

  .mdl-layout-title {
    font-weight: bold;
    font-size: 2.3rem;
    line-height: 2.3rem;
    text-decoration: none;

    &:hover, &:active, &:visited {
      text-decoration: none;
    }
    &.center {
      margin: 0 auto;
      display: block;
      text-align: center;
    }
  }

  .mdl-navigation__link i {
    font-size: 38px;
    cursor: pointer;
  }
}

.mdl-badge[data-badge]::after {
  right: -12px;
}

.mdl-badge {
  margin-right: 0px;
}
