<div class="mdl-card mdl-shadow--2dp pb-tiny-space pb-buddy-accordion">
  <div class="pb-accordion__section" *ngFor="let section of sections" [ngClass]="{'closed': section.isClosed}">
    <div class="pb-accordion__section-header mdl-list__item" (click)="toggleSection(section);">
      <span class="mdl-list__item-primary-content">
        <b>{{section.header}} ({{section.buddies.length}})</b>
      </span>
      <span class="mdl-list__item-secondary-content">
        <i class="material-icons">keyboard_arrow_up</i>
      </span>
    </div>
    <div class="pb-accordion__section-body" [style.height.px]="section.calculatedHeight">
      <ul class="mdl-list">
        <li class="mdl-list__item" *ngFor="let buddy of section.buddies">
        <span *ngIf="buddy.isAccepted" class="mdl-list__item-primary-content" (click)="onBuddySelect(buddy)">
         <app-user-image class="buddy-list-image" [user]="buddy" [isInList]="true"></app-user-image>
          {{buddy.name}}
        </span>
          <span *ngIf="!buddy.isAccepted" class="mdl-list__item-primary-content">
            <app-user-image class="buddy-list-image" [user]="buddy" [isInList]="true"></app-user-image>
            {{buddy.name}}
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
