.pb-buddy-accordion {
  ul {
    padding: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;

    li {

      &:hover {
        background-color: #EEEEEE;
        cursor: pointer;
      }
    }
  }
}


.pb-accordion__section {
  .pb-accordion__section-header {
    background-color: #AAAAAA;
    color: white;
    padding: 16px;

    .material-icons {
      -webkit-transition: transform 0.4s;
      -moz-transition: transform 0.4s;
      -ms-transition: transform 0.4s;
      -o-transition: transform 0.4s;
      transition: transform 0.4s;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .pb-accordion__section-body {
    -webkit-transition: height 0.4s;
    -moz-transition: height 0.4s;
    -ms-transition: height 0.4s;
    -o-transition: height 0.4s;
    transition: height 0.4s;
    ul {
      margin: 0 !important;
    }
  }

  &.closed {
    .pb-accordion__section-body {
      height: 0 !important;

    }

    .pb-accordion__section-header {

      .material-icons {
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        -o-transform: rotateX(180deg);
        transform: rotateX(180deg);
      }
    }
  }
}

