.pb-profile-image__upload-container {
  width: 100%;
  max-width: 100%;
  height: 80%;
  cursor: pointer;

  #pb-profile-image__cropper-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
  .pb-upload-actions {
    text-align: right;
    padding: 12px;
  }
}
