<div class="pb-profile-image__upload-container">
  <div class="pb-upload-actions">
    <mdl-button (click)="closeDialog()">Abbrechen</mdl-button>
    <mdl-button (click)="cropProfileImage()" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Bild zurechtschneiden</mdl-button>
  </div>
  <img src="{{imageSourceData}}" class="mdl" alt="Neues Profilbild zum Zurechtschneiden" id="pb-profile-image__cropper-image"/>
</div>


