//The container for the profile image.
$pb-profile-image-container-size: 120px;
$pb-profile-image-list-container-size: 30px;


.buddy-image-container {
  width: $pb-profile-image-container-size;
  height: $pb-profile-image-container-size;

  -webkit-border-radius: $pb-profile-image-container-size;
  -moz-border-radius: $pb-profile-image-container-size;
  border-radius: $pb-profile-image-container-size;


  img {
    width: $pb-profile-image-container-size;
    height: $pb-profile-image-container-size;

    -webkit-border-radius: $pb-profile-image-container-size;
    -moz-border-radius: $pb-profile-image-container-size;
    border-radius: $pb-profile-image-container-size;
  }

  //The placeholder if the buddy has no image.
  i.material-icons {
    display: inline-block;
    font-size: 50px;
    margin-left: 50%;
    margin-top: 50%;
    color: white;

    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }


  &.in-list {
    width: $pb-profile-image-list-container-size;
    height: $pb-profile-image-list-container-size;
    margin-right: 10px;

    img {
      width: $pb-profile-image-list-container-size;
      height: $pb-profile-image-list-container-size;

      -webkit-border-radius: $pb-profile-image-list-container-size;
      -moz-border-radius: $pb-profile-image-list-container-size;
      border-radius: $pb-profile-image-list-container-size;
    }

    i.material-icons {
      background: none;
      font-size: $pb-profile-image-list-container-size;
    }
  }
}
