<div class="buddy-image-container mdl-color--accent" (click)="showFileChooser($event);"[ngClass]="{'pb-pointer': !disableFileChooser, 'in-list': isInList}">
  <img *ngIf="!showPlaceholder" src="{{imageDataUrl}}" />
  <i *ngIf="showPlaceholder" class="material-icons">person</i>
</div>

<div class="hidden" *ngIf="isCurrentUser && !disableFileChooser" >
  <input #profileImageFileChooser class="hidden" type="file" (change)="fileToUploadSelected($event);" />
</div>
