<button class="login-button mdl-button mdl-js-button mdl-button--raised mdl-button--accent login mdl-color--white"
  (click)="login()">
  <span *ngIf="authenticated" class="mdl-color-text--grey-800">Von Dropbox abmelden</span>
  <span *ngIf="!authenticated" class="mdl-color-text--grey-800">Mit Dropbox anmelden</span>
</button>
