<div class="mdl-card mdl-shadow--2dp pb-tiny-space pb-card-upload">
  <div class="mdl-card__supporting-text pb-no-padding-bottom">
    Hallo, <br />
    willkommen zurück. Wie war doch gleich dein Passwort?
  </div>
  <!--Txt-->
  <div class="mdl-card__supporting-text pb-no-padding-top pb-no-padding-bottom">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <mdl-textfield type="password" label="Dein Passwort" [(ngModel)]="userPassword"
                     floating-label (keyup.enter)="loginUser()"></mdl-textfield>
    </div>
    <div *ngIf="showError">
      {{errorMessage}}
    </div>
  </div>

  <div class="mdl-card__supporting-text pb-no-padding-top">
    <a href="https://www.youtube.com/watch?v=oHg5SJYRHA0" target="_blank">Ich habe mein Passwort vergessen</a>
  </div>

  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="loginUser()">
      Anmelden
    </a>
  </div>
</div>
<full-screen-loader [isVisible]=loading></full-screen-loader>
