<div class="mdl-card mdl-shadow--2dp pb-tiny-space pb-card-upload">
  <div class="mdl-card__supporting-text pb-no-padding-bottom">
    <h4>Willkommen bei postBOX</h4>
    Um loszulegen benötigen wir von dir nur noch einen Benutzernamen und ein Passwort.<br />
  </div>
  <!--Txt-->
  <div class="mdl-card__supporting-text pb-no-padding-bottom pb-no-padding-top">
      <mdl-textfield type="text" label="Dein Name" [(ngModel)]="userName" floating-label ></mdl-textfield>
      <mdl-textfield type="password" label="Dein Passwort" [(ngModel)]="userPassword"
                     floating-label (keyup.enter)="createUser()"></mdl-textfield>
      <p>
        Pass auf dein Passwort gut auf, denn bei Verlust sind alle deine Daten unbrauchbar.
      </p>
  </div>

  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="createUser()">
      Registrieren
    </a>
  </div>
</div>
<full-screen-loader [isVisible]=loading></full-screen-loader>
