<div class="container">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col">&nbsp;</div>
    <div class="mdl-cell mdl-cell--20-col">
      <chat></chat>
    </div>
    <div class="mdl-cell mdl-cell--2-col">&nbsp;</div>
  </div>
</div>
