<div class="mdl-card mdl-shadow--2dp pb-tiny-space pb-chat-container">
  <!--
    The column for the chats
  -->
  <div class="pb-chat-left-container">
    <div class="pb-chat-header">

      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"
              id="btn-add-chat" (click)="showAddChatDialog()">
        <i class="material-icons">add</i>
      </button>

      <h5>Deine Chats</h5>
    </div>

    <div class="pb-chat-chats">
      <div *ngFor="let chat of chats; let i = index;" class="pb-chat-single"
           [ngClass]="{'active': i === currentChatIndex}" (click)="changeActiveChat(i);">
        <div class="pb-chat-name">
          {{chat.name}}
        </div>
        <span *ngIf="chat.channel.newMessages > 0 && i !== currentChatIndex" class="mdl-badge" [attr.data-badge]="chat.channel.newMessages"></span>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <!--
    The column for the messages.
  -->
  <div class="pb-chat-right-container">
    <div class="pb-chat-chat-header mdl-color--accent" *ngIf="!!chats[currentChatIndex]">
      <div class="pb-chat-chat-add-buddy pb-right">
        <i class="material-icons white mdl-color-text--accent-contrast"
           *ngIf="canAddToChat(chats[currentChatIndex])" (click)="showUpdateChatDialog()">add</i>
      </div>
      <div class="pb-chat-chat-show-buddies pb-right" (click)="showBuddiesInChat()">
        <i class="material-icons white mdl-color-text--accent-contrast">more_vert</i>
      </div>
      <div class="pb-chat-chat-name mdl-color-text--accent-contrast">
        {{chats[currentChatIndex].name}}
      </div>
      <div class="clearfix"></div>
    </div>

    <message-container *ngIf="!!chats[currentChatIndex]" [messages]="chats[currentChatIndex].messages"></message-container>

    <div class="pb-chat-messages no-chats" *ngIf="!chats[currentChatIndex]">
      Noch keine Chats vorhanden.
    </div>

    <div class="pb-chat-write-message">
      <mdl-textfield type="text" label="Deine Nachricht" [(ngModel)]="newMessage" floating-label id="chat-write-message"></mdl-textfield>
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--black" (click)="sendMessage()">
        Senden
      </a>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="clearfix"></div>

</div>
