.pb-chat-container {
  display: block;
  overflow: visible;

  .pb-chat-left-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 30%;
  }

  .pb-chat-right-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 70%;
  }

  // the header of a single chat
  .pb-chat-chat-header {
    padding: 10px;

    .pb-chat-chat-add-buddy, .pb-chat-chat-show-buddies {
      line-height: 16px;
      cursor: pointer;
    }

    .pb-chat-chat-show-buddies {
      margin-right: 8px;
    }
  }


  // the header on the left side (Deine Chats)
  .pb-chat-header {
    padding: 25px 10px 15px 10px;
    position: relative;
  }

  .pb-chat-single {
    padding: 20px 15px;

    &.active {
      background-color: #f4f4f4;
    }

    .pb-chat-name {
      float: left;
    }

    .mdl-badge {
      margin-right: 36px;
      margin-top: 0px;
      float: right;
    }

    .mdl-badge:after {
      top: 0px;
      right: -22px;
      width: 23px;
    }
  }

  .pb-chat-messages.no-chats {
    background-color: #f4f4f4;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    font-size: 20px;
    padding-top: 40px;
  }

  .pb-chat-write-message {
    margin-right: 15px;
    padding-bottom: 10px;

    a {
      float: right;
    }
  }
}

#btn-add-chat {
  position: absolute;
  left: 0;
  top: 0;

  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#chat-write-message {
  width: 100%;
}
