.pb-chat-messages {
  background-color: #f4f4f4;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;

  .single-message-container {
    padding: 4px;

    .single-message {
      padding: 7px;
      width: 75%;
      background-color: #ffdad8;
    }

    &.own-message {
      .single-message {
        margin-left: 20%;
        background-color: #d4e3fc;
      }
    }
  }

  .pb-message-message {
    font-size: 15px;
  }

  .pb-message-date {
    font-size: 12px;
    text-align: right;
  }
}
