<div id="pb-chat-messages" class="pb-chat-messages">
  <div class="single-message-container" *ngFor="let message of messages"
       [ngClass]="{'own-message': message.ownMessage}">
    <div class="single-message">
      <div *ngIf="!message.ownMessage"><b>{{message.author}}</b></div>
      <p class="pb-message-message" [innerHtml]="message.message | emoji"></p>
      <div class="pb-message-date">{{formatDate(message.date)}}</div>
    </div>
  </div>
</div>
